body {
    background-color:#FFD16E;
}
li {
    color: purple;
    font: 52px;
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  img {
    width: 100%;
    height: 100%;
    padding: 1%;
    margin: 1%;
  }
  h1 {
    text-align: center;
    font-family: 'Modak', cursive;
    font-size: 60px;
    color: red;
  }
  #addBurgerDiv {
    text-align: center;
  }
  #burgersNotEatenDiv {
    text-align: center;
  }

  #burgersEatenDiv {
    text-align: center;
  }